* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font: normal 16px;
    color: #555;
}

header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
    color: #fff;
}

header nav {
    display: flex;
    margin-right: -15px;
}

header nav li {
    margin: 0 15px;
}

ul,
nav {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

a.button {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #3f51b5;
    opacity: 1;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

hr {
    width: 250px;
    height: 3px;
    background-color: #235067;
    border: 0;
    margin-bottom: 50px;
}

section h3.title {
    text-transform: capitalize;
    font: bold 32px;
    margin-bottom: 30px;
    text-align: center;
}

section p {
    max-width: 775px;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
}

.mainPage {
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #fff;
}

.mainPage .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-color: #80a3db;
}

.mainPage h1 {
    font: bold 60px "Open Sans", sans-serif;
    margin-bottom: 15px;
}

.mainPage h3 {
    font: normal 28px "Open Sans", sans-serif;
    margin-bottom: 40px;
}

.mainPage a.button {
    padding: 20px 46px;
    background-color: #6196b8
}

#tourPackages .grid li {
    height: 450px;
    padding: 10px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

#tourPackages .grid li.small {
    flex-basis: 30%;
}

#tourPackages .grid li.large {
    flex-basis: 70%;
}

#tourPackages h1 {
    font: bold 40px "Open Sans", sans-serif;
}

.packages .grid li,
img {
    padding: 10px;
    flex-basis: 50%;
    text-align: center;
}

.packages .grid li i {
    color: #8c9eff;
}

.packages .grid li h4 {
    font-size: 30px;
    margin: 25px 0;
}

.packages h1 {
    font: bold 40px "Open Sans", sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    flex: 0 0 calc(50% - 10px);
    margin: 5px;
}

img {
    width: 100%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #235067;
    color: #fff;
    padding: 20px 0;
}

footer ul {
    display: flex;
}

footer ul li {
    margin-left: 16px;
}

footer p {
    font-size: 18px;
    align-self: center;
}

footer h3 {
    text-transform: uppercase;
}